:root {
    --dark-green: #18331b;
    --dark-green-trans: rgb(77 87 54 / 28%);
    --white: #fff;
    --grey: rgba(0 0 0 / 33%);
    --red: rgb(204 186 184);
    --red-light: rgb(242 238 237);
}

html {
    font-size: 10px;
}

@media screen and (max-width: 767px) {
    html {
        font-size: 8.5px;
    }
}

body {
    font-family: 'LatoWeb', sans-serif;
    font-size: 1.8rem;
}

#app h1, #app h2 {
    color: var(--dark-green);
    margin-bottom: 1.5rem;
}

#app h1 {
    font-size: 3.8rem;
    font-family: "LatoWebBold";
}

#app h2 {
    font-size: 2.4rem;
}

#app h3 {
    font-size: 2rem;
}

#app .content {
    margin: 5rem auto;
    width: calc(90% - 2rem);
    max-width: 78rem;
}

#app .content p, #app .content ol, #app .content ul {
    margin-bottom: 1.3rem;
}

#app .content ul, #app .content ol {
    margin-left: 2.5rem;
}

#app .content a {
    text-decoration: underline;
}

#app .content a:hover {
    text-decoration: none;
}

#app .content .infobox {
    padding: 2rem;
    margin: 0 -2rem;
    border-radius: 1rem;
    border: 1px solid var(--red);
    background: var(--red-light);
}

#app .content .infobox > *:last-child {
    margin-bottom: 0;
}

#app .content .infobox + div{
    margin-top: 3rem;
}